.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .container__blastoise {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    min-width: 300px;
    background-color: white;

    .container__blastoise__pokemon {
      border: solid;
      margin: 10px;

      .container__blastoise__pokemon__moves {
        border: solid;
        margin: 2px;
      }
    }
  }

  .container__pidgeot {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    min-width: 300px;
    background-color: white;

    .container__pidgeot__pokemon {
      border: solid;
      margin: 10px;

      .container__pidgeot__pokemon__moves {
        border: solid;
        margin: 2px;
      }
    }
  }
}

.img {
  width: 150px;
  height: 150px;
}