<div class="container">
  <div class="container__blastoise">
    Pokemon blastoise
    <div class="container__blastoise__pokemon" *ngFor="let blastoise of blastoises">
      <div>Name: {{blastoise.name}}</div>
      <div>Type: {{blastoise.type}}</div>
      <div>Color: {{blastoise.color}}</div>
      <div>Claws: {{blastoise.numberOfClaws}}</div>
      <img class="img" src="{{blastoise.url}}">
      <div *ngFor="let move of blastoise.moves" class="container__blastoise__pokemon__moves">
        <div>Attack: {{move.name}}</div>
        <div>Type: {{move.type}}</div>
        <div>Damage: {{move.damage}}</div>
      </div>
    </div>
  </div>
  <div class="container__pidgeot">
    Pokemon pidgeot
    <div class="container__pidgeot__pokemon" *ngFor="let pidgeot of pidgeots">
      <div>Name: {{pidgeot.name}}</div>
      <div>Type: {{pidgeot.type}}</div>
      <div>Color: {{pidgeot.color}}</div>
      <div>Wings: {{pidgeot.numberOfWings}}</div>
      <img class="img" src="{{pidgeot.url}}">
      <div *ngFor="let move of pidgeot.moves" class="container__pidgeot__pokemon__moves">
        <div>Attack: {{move.name}}</div>
        <div>Type: {{move.type}}</div>
        <div>Damage: {{move.damage}}</div>
      </div>
    </div>
  </div>
</div>