body {
  background-image: url(https://images2.wikia.nocookie.net/__cb20070729120027/es.pokemon/images/2/25/Ruta_101.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
    background-attachment: fixed;
}